@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Fonts */
h1 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 700;
}