main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .create-container {
        display: flex;
        gap: 10px;

        input {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            width: 100%;
        }

        button {
            padding: 10px;
            background-color: #6c82ff;
            border-radius: 5px;
            color: white;
            cursor: pointer;
            white-space: nowrap;
        }
    }

    .item-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        .item {
            border: 1px solid #ccc;
            background-color: rgb(240, 240, 240);
            padding: 10px;
            display: flex;
            justify-content: space-between;
            border-radius: 5px;
        }

        .item-completed {
            .name {
                color: rgb(155, 155, 155);
                text-decoration: line-through;
            }
        }
    }
}